body {
    font-size: calc(14px + 0.11vw);
    width: clamp(373px, 45vw, 50vw);
    color: black;
    margin: auto;
    padding: 2px;
    font-family: 'Helvetica Neue',
		 'Arial Nova',
                 sans-serif;
}

nav {
    font-size: calc(16px + 0.33vh);
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav > * {
    margin-right: 33px;
}

.link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
    html {
	background-color: #222222;
    }
    
    body * {
	color: lightgrey;
    }
}
