{{ template "header.tmpl" . }}
<h2>Blog posts</h2>

{{ range $val := . }}
	<div class="post-record">
		<div>
			<a href="/blog/post/{{ $val.Url }}">{{ $val.Title }}</a>
		</div>
		<div>
			{{ $val.Date }}
		</div>
	</div>
{{ else }}
	<p>No blog posts...</p>
{{ end }}

{{ template "footer_no_banners.tmpl" }}
