<html>
<head>
		<meta lang="en">
		<meta charset="UTF-8">
		<meta name="keywords" content="blog resume rawley-fowler rawleyportfolio rawleyxyz rawleyfowler RF rawley fowler Rawley Fowler portfolio RawleyFowler RawleyXYZ rawleyXYZ RawleyXYZ">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/index.css" rel="stylesheet" type="text/css">
		<title>{{ .Title }}</title>
</head>
<body>
{{ template "nav.tmpl" . }}
	<h2>{{ .Title }}</h2>
	<div>{{ .Content | UnescapeHTML }}</div>
{{ template "footer_no_banners.tmpl" . }}
