<html>
	<head>
		<meta lang="en">
		<meta charset="UTF-8">
		<meta name="keywords" content="blog rawley-fowler rawleyportfolio rawleyxyz rawleyfowler RF rawley fowler Rawley Fowler portfolio RawleyFowler RawleyXYZ rawleyXYZ RawleyXYZ">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/index.css" rel="stylesheet" type="text/css">
		<title>rawley.xyz | blog</title>
	</head>
	<body>
	{{ template "nav.tmpl" . }}
<h2>Blog posts</h2>
<p>
These blog posts are mine and only mine, please do not steal them. You can cite them in your works without permission though. If you want to keep up with my blog I have an <a href="/blog/feed">rss feed</a>.
</p>
{{ range $val := . }}
	<div class="post-record">
		<div>
			<a class="post-record-title" href="/blog/post/{{ $val.Url }}">{{ $val.Title }}</a>
		</div>
		<div>
			{{ $val.Date }}
		</div>
	</div>
{{ else }}
	<p>No blog posts...</p>
{{ end }}

{{ template "footer_no_banners.tmpl" }}
