{{ template "header.tmpl" . }}
<div>
	<h2>{{ .Title }}</h2>
	<div>{{ .Content }}</div>
<h4>Comments</h4>
{{ range $comment := .Comments }}
	<div class="comment">
		<div>
			By {{ $comment.Author }} on{{ $comment.Date }}
		</div>
		<div>
			{{ $comment.Content }}
		</div>
	</div>
{{ else }}
	<p>No comments...</p>
{{ end }}
<h4>Leave a comment!</h4>
<form method="POST" action="/post/comment">
	<input type="text" placeholder="Name" name="author"/>	
	<input type="field" placeholder="Comment" name="content" />
	<input type="text" style="display: none;" value="{{ .Url }}" readonly />
	<button type="submit">Post</button>
</form>
</div>
{{ template "footer.tmpl" . }}
