{{ template "header.tmpl" . }}
<h2>You've commented too many times, too quickly. Your comment will <u>not</u> be posted.</h2>
<p>Click <a href="/blog/post/{{ .Url }}">here</a> to return to the post.<p>
</body>
</html>
