<!DOCTYPE html>
<html>
	<head>
		<meta lang="en">
		<meta charset="UTF-8">
		<meta name="keywords" content="blog resume rawley-fowler rawleyportfolio rawleyxyz rawleyfowler RF rawley fowler Rawley Fowler portfolio RawleyFowler RawleyXYZ rawleyXYZ RawleyXYZ">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/index.css" rel="stylesheet" type="text/css">
		<title>Comment failed</title>
	</head>
	<body>
	{{ template "nav.tmpl" . }}
		<h2>Your comment <u>failed</u> to be posted...</h2>
		<p>You will be redirected or, click <a href="/blog/post/{{ .Url }}">here</a> to return to the blog post.</p>
		<p>
			<h3>Your comment failed for one of these reasons:</h3>
		</p>
		<ul>
			<li>You failed the captcha.</li>
			<li>Your post had links in it.</li>
			<li>The name on your comment was "rawley" or "admin".</li>
			<li>You're spamming!</li>
		</ul>
	</body>
</html>
