{{ template "header.tmpl" . }}
		<h2>Your comment is being posted...</h2>
		<p>You will be redirected or, click <a href="/blog/post/{{ .Url }}">here</a> to return to the blog post.</p>
		<input value="{{ .Url }}" readonly style="display: none;" id="url"/>
		<script>
			setTimeout(() => {
				window.location.replace("/blog/post/" + document.getElementById("url").value)
			}, 1500)
		</script>
	</body>
</html>
