{{ template "header.tmpl" . }}
<h2>Ways to contact me</h2>
<ul>
	<li>
		<a href="mailto:rawleyfowler@gmail.com">Email</a>
	</li>
	<li>
		<a href="https://unix.stackexchange.com/users/507434/rawley-fowler">Stack Exchange</a>
	</li>
</ul>
{{ template "footer.tmpl" . }}
