<html>
	<head>
		<meta lang="en">
		<meta charset="UTF-8">
		<meta name="keywords" content="blog rawley-fowler rawleyportfolio rawleyxyz rawleyfowler RF rawley fowler Rawley Fowler portfolio RawleyFowler RawleyXYZ rawleyXYZ RawleyXYZ">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/index.css" rel="stylesheet" type="text/css">
		<title>rawley.xyz | blog</title>
	</head>
	<body>
	{{ template "nav.tmpl" . }}
<h2>Donate</h2>
<p>
Donations are greatly appreciated, but nowhere near necessary.
</p>
<h3>
<b>Bitcoin</b>:
</h3>
<p>
bc1qkvh6r23lv8t0tquwgzet9t07qwyk8ng96hkw7r
</p>
{{ template "footer_no_banners.tmpl" }}
