    <br>
	<div class="footer">
		<p class="footer-text">This site is powered by:</p>
		<a href="https://getfedora.org/">
			<img src="/static/fedora.png" class="banner-long" alt="Powered by Fedora Linux!" />
		</a>
		<a href="https://www.nginx.org">
			<img src="/static/nginx.png" class="banner-long" alt="Powered by NGiNX!" />
		</a>
		<a href="https://go.dev">
			<img src="/static/go.png" class="banner-short" alt="Powered by Go!" />
		</a>
	</div>
	</body>
</html>
