	<p class="subtext">Checkout the source code for this site on <a href="https://gitlab.com/rawleyIfowler/rawleydotxyz">gitlab</a>.</p>
	<p class="subtext">
		All opinions expressed on this website are that of my own, they do not reflect those of my employer(s); future, past, or present.
	</p>
	</body>
</html>
