    <br>
	<div class="footer">
		<p class="footer-text">This site is powered by:</p>
		<a href="https://getfedora.org/" class="banner-long">
			<img src="/static/fedora.png" alt="Powered by Fedora Linux!" />
		</a>
		<a href="https://www.nginx.org" class="banner-long">
			<img src="/static/nginx.png" alt="Powered by NGiNX!" />
		</a>
		<a href="https://go.dev" class="banner-short">
			<img src="/static/go.png" alt="Powered by Go!" />
		</a>
	</div>
	</body>
</html>
