    <br>
	<div class="footer">
		<p class="footer-text">This site is powered by:</p>
		<a href="https://www.getfedora.org/">
			<img src="/static/fedora.png" alt="Powered by Fedora Linux!" width="150px" height="50px"/>
		</a>
		<a href="https://www.nginx.org">
			<img src="/static/nginx.png" alt="Powered by NGiNX!" width="150px" height="50px"/>
		</a>
		<a href="https://go.dev">
			<img src="/static/go.png" alt="Powered by Go!" width="75px" height="50px" />
		</a>
	</div>
	</body>
</html>
