{{ template "header.tmpl" . }}
<h2>Hi, my name is Rawley.</h2>
<p>
	I am an independent software engineer, and self proclaimed systems administrator from Canada. Currently, I am pursuing a degree in Computer Science, with hopes of participating in a graduate program later down the road.
</p>
<p>
	I am a GNU/Linux and OpenBSD enthusiast. You'll find me active in the Linux and OpenBSD communities on IRC, and Reddit. My favourite programming language is Clojure. Currently, I am working on my <a href="https://github.com/rawleyfowler/rawleydotxyz">website</a>, and an open-source community based blogging network called <a href="https://gitlab.com/xrn">xrn</a>. All of my work is open source, you can check it out on my <a href="https://github.com/rawleyfowler">github</a>. If you need to contact me, please send me an email at <a href="mailto:rawleyfowler@gmail.com">rawleyfowler@gmail.com</a>.
</p>
<p>
	When I'm not programming, I'm either reading, cooking, playing table-top games, or writing blog posts. I do my best to write 2-3 blog posts per month. My blog is a mashup of tech, music, food, and oddities, feel free to check it out. If you like it, make sure to subscribe to my <a href="/blog/feed">RSS feed</a>!
</p>
{{ template "footer.tmpl" . }}
