{{ template "header.tmpl" . }}
<h2>Hi, my name is Rawley.</h2>
<p>
	I am an independent software engineer, and self proclaimed systems administrator from Canada. Currently, I am pursuing a degree in Computer Science, with hopes of participating in a graduate program later down the road.
</p>
<p>
	I am a GNU/Linux and OpenBSD enthusiast. You'll find me active in the Debian Linux, Void Linux and OpenBSD communities. My favourite programming languages are Go and Clojure. Currently, I am working on my <a href="https://gitlab.com/rawleyIfowler/rawleydotxyz">website</a>, and an open-source community based blogging network called <a href="https://gitlab.com/xrn">xrn</a>. All of my work is open source, you can check it out on my <a href="https://gitlab.com/rawleyIfowler">GitLab</a>.
</p>
<p>
	When I'm not programming, I'm either reading, cooking, playing table-top games, or walking my dog.
</p>
{{ template "footer.tmpl" . }}
