<div class="header">	
	<div class="nav-bar">
        <div>
            <h1 class="header-title">
		        <a href="/" id="title">Rawley.xyz</a>
	        </h1>
        </div> 
		<div>
			<a class="nav-item" href="/blog">blog</a>
		</div>
		<div>
			<a class="nav-item" href="/resume">resume</a>
		</div>
		<div>
			<a class="nav-item" href="/contact">contact</a>
		</div>
        <div>
            <a class="nav-item" href="/donate">donate</a>
        </div>
		<div>
			<a class="nav-item" href="https://gitlab.com/rawleyIfowler">software</a>
		</div>
	</div>
</div>
