<!--resume.tmpl-->
{{ template "header.tmpl" . }}
<h2>My resume</h2>
<p>
	<a href="/static/Resume.pdf">View my resume (pdf).</a>
</p>
<p class="skill-keywords">
	<i>GNU/Linux</i>
	<i>Debian</i>
	<i>OpenBSD</i>
	<i>Go</i>
	<i>Clojure</i>
	<i>Git</i>
	<i>Gentoo</i>
	<i>Java</i>
	<i>NGiNX</i>	
	<i>Vim</i>
	<i>C/C++</i>
	<i>NetBSD</i>
	<i>JavaScript</i>
	<i>HTML</i>
	<i>CSS</i>
	<i>Unix</i>
	<i>Vue</i>
	<i>MariaDB</i>
	<i>Korn Shell</i>
	<i>Bash</i>
	<i>Lua</i>
</p>
{{ template "footer.tmpl" . }}
