<!--resume.tmpl-->
{{ template "header.tmpl" . }}
<h3>Skill keywords</h3>
<p class="skill-keywords">
	<i>GNU/Linux</i>
	<i>Debian</i>
	<i>C/C++</i>
	<i>OpenBSD</i>
	<i>Go</i>
	<i>Bash</i>
	<i>Clojure</i>
	<i>Git</i>
	<i>Gentoo</i>
	<i>Java</i>
	<i>NGiNX</i>
	<i>TypeScript</i>	
	<i>Vim</i>
	<i>NetBSD</i>
	<i>JavaScript</i>
	<i>HTML</i>
	<i>CSS</i>
	<i>Unix</i>
	<i>X11</i>
	<i>Ruby</i>
	<i>Vue</i>
	<i>MariaDB</i>
	<i>Korn Shell</i>
	<i>Lua</i>
	<i>React</i>
	<i>NodeJS</i>
	<i>Ruby-on-Rails</i>
</p>
<h3>Education</h3>
<p>
	<h4>Post-Diploma Bachelors of Science in Computer Science at the University of Regina</h4>
	(2022-present)
</p>
<p>
	<h4>Computer Systems Technology at Saskatchewan Polytechnic</h4>
	(2020-2022)
</p>
<h3>Projects</h3>
<p>
	<h4><a href="https://gitlab.com/rawleyIfowler/rawleydotxyz">this website</a></h4>
	Website written in Go (templates and all), hosted on a OpenBSD server using a NGiNX reverse proxy.
</p>
<p>
	<h4><a href="https://gitlab.com/xrn">xrn</a></h4>
	A free and open source community based blogging application similar to <a href="https://stackexchange.com">Stack Exchange</a>.
</p>
<p>
	<h4><a href="https://gitlab.com/rawleyIfowler/parser">parser</a></h4> 
	A simple bash utility designed to save time when parsing files against patterns.
</p>
<p>
	<h4><a href="https://gitlab.com/rawleyIfowler/nfs-util">nfs-util</a></h4>
	Bash utility for easily creating and validating nfs shares. Including dry runs for connectivity tests.
</p>
{{ template "footer_no_banners.tmpl" . }}
