<!--resume.tmpl-->
{{ template "header.tmpl" . }}
<h2>My resume</h2>
<p>
	<a href="/static/Resume.pdf">View my resume (pdf).</a>
</p>
<h3>Skills</h3>
<p class="skill-keywords">
	<i>GNU/Linux</i>
	<i>Debian</i>
	<i>OpenBSD</i>
	<i>Go</i>
	<i>Gin</i>
	<i>Clojure</i>
	<i>Git</i>
	<i>Gentoo</i>
	<i>Java</i>
	<i>NGiNX</i>	
	<i>Vim</i>
	<i>C/C++</i>
	<i>NetBSD</i>
	<i>JavaScript</i>
	<i>HTML</i>
	<i>CSS</i>
	<i>Unix</i>
	<i>Vue</i>
	<i>MariaDB</i>
	<i>Korn Shell</i>
	<i>Bash</i>
	<i>Lua</i>
</p>
<h3>Education</h3>
<p>
	<h4>Post-Diploma Bachelors of Science in Computer Science at University of Regina</h4>
	<br>
	(2022-present)
</p>
<p>
	<h4>Computer Systems Technology at Saskatchewan Polytechnic</h4>
	<br>
	(2020-2022)
</p>
<h3>Projects</h3>
<p>
	<h4><a href="https://gitlab.com/rawleyIfowler/rawleydotxyz">This Website</a></h4>
	<br>
	Website written in Go (templates and all), hosted on a OpenBSD server using a NGiNX reverse proxy.
</p>
<p>
	<h4><a href="https://gitlab.com/xrn">xrn</a></h4>
	<br>
	A free and open source community based blogging application similar to <a href="https://stackexchange.com">Stack Exchange</a>.
</p>
<p>
	<h4><a href="https://gitlab.com/rawleyIfowler/parser">parser</a></h4>
	<br>
	A simple bash utility designed to save time when parsing files against patterns.
</p>
{{ template "footer_no_banners.tmpl" . }}
