<!--music.tmpl-->
{{ template "header.tmpl" . }}
<p>
This serves as a compilation of every band that I like. Genres may vary, however I mostly listen to Hardcore, various genres of Metal, and Ska.
</p>
<div class="music-container">
{{ range $val := . }}
<a href="{{ $val.Url }}" class="music">{{ $val.Name }}</a>
{{ end }}
</div>
{{ template "footer_no_banners.tmpl" . }}
